<div id="firstStep" ng-if="testState == 0">
    <form role="firstForm">
        <div class="form-group">
            <h3 translate="label.sex"></h3>
            <div class="radio">
                <label>
                    <input type="radio" value="man" ng-model="sex" />
                    <span translate="value.man"></span>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" value="woman" ng-model="sex" />
                    <span translate="value.woman"></span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <h3 translate="label.age"></h3>
            <rzslider rz-slider-model="age" rz-slider-floor="4" rz-slider-ceil="99"></rzslider>
        </div>
        <div class="form-group">
            <h3 translate="label.level"></h3>
            <div class="radio">
                <label>
                    <input type="radio" value="1" ng-model="level" />
                    <span translate="value.level.none"></span>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" value="2" ng-model="level" />
                    <span translate="value.level.beginner"></span>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" value="3" ng-model="level" />
                    <span translate="value.level.advanced"></span>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" value="4" ng-model="level" />
                    <span translate="value.level.expert"></span>
                </label>
            </div>
        </div>
    </form>
</div>
<div ng-if="testState == 1">
    <span translate="text.testIntro"></span>
</div>
<div ng-if="testState == 2">
    <button class="btn btn-success btn-lg" ng-disabled="isPlayingSound">
        <span class="glyphicon glyphicon-play" aria-hidden="true" ng-click="playSound()" translate="label.replay"></span>
    </button>
    <div ng-if="circleVisible">
        <canvas id="pie" class="chart chart-pie" data="data" labels="labels" click="chooseColor"></canvas>
    </div>
    <div ng-if="!circleVisible" style="height: 355px">
        <span translate="text.closeYourEyes"></span>
    </div>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">
        </div>
    </div>
</div>
<button class="btn btn-primary btn-lg" ng-hide="testState == 2 || testState == 3" ng-click="nextState()" ng-disabled="isPlayingSound" translate="label.next"></button>
