<div id="firstStep" ng-if="testState == 0">
    <form role="firstForm">
        <div class="form-group">
            <h3 translate="label.sex"></h3>
            <div class="radio">
                <label>
                    <input type="radio" value="man" ng-model="formData.sex" />
                    <span translate="value.man"></span>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" value="woman" ng-model="formData.sex" />
                    <span translate="value.woman"></span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <h3 translate="label.age"></h3>
            <rzslider rz-slider-model="formData.age" rz-slider-floor="18" rz-slider-ceil="99"></rzslider>
        </div>
        <div class="form-group">
            <h3 translate="label.level"></h3>
            <div class="radio">
                <label>
                    <input type="radio" value="1" ng-model="formData.level" />
                    <span translate="value.level.none"></span>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" value="2" ng-model="formData.level" />
                    <span translate="value.level.beginner"></span>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" value="3" ng-model="formData.level" />
                    <span translate="value.level.medium"></span>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" value="4" ng-model="formData.level" />
                    <span translate="value.level.advanced"></span>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" value="5" ng-model="formData.level" />
                    <span translate="value.level.expert"></span>
                </label>
            </div>
        </div>
    </form>
</div>
<div class="intro" ng-if="testState == 1">
    <span translate="text.testIntro"></span>
    <br>
    <br>
    <span translate="text.closeYourEyes"></span>
</div>
<div ng-if="testState == 2">

    <div class="circle-container" style="height: 400px">

        <div ng-if="trackState == 1">
            <button class="btn btn-success">
                <span aria-hidden="true" ng-click="playSound()" translate="label.replay"></span>
            </button>

            <canvas id="pie" class="chart chart-pie" data="data" labels="labels" click="chooseColor"></canvas>
        </div>

        <div ng-show="trackState == 2">
            <p translate="text.feelings"></p>
            
            <div class="btn-group" role="group" style="margin:0 auto;">
                <button type="button" class="btn btn-default" translate="label.positive" ng-click="chooseSide('+2')"></button>
                <button type="button" class="btn btn-default" translate="label.semipositive" ng-click="chooseSide('+1')"></button>
                <button type="button" class="btn btn-default" translate="label.neutral" ng-click="chooseSide('0')"></button>
                <button type="button" class="btn btn-default" translate="label.seminegative" ng-click="chooseSide('-1')"></button>
                <button type="button" class="btn btn-default" translate="label.negative" ng-click="chooseSide('-2')"></button>
            </div>
        </div>

    </div>

    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">
        </div>
    </div>

</div>
<div class="intro" ng-if="testState == 3">
    <p translate="text.harder"></p>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" translate="label.part" ng-click="chooseHarder('part')"></button>
        <button type="button" class="btn btn-default" translate="label.full" ng-click="chooseHarder('full')"></button>
    </div>
</div>
<button class="btn btn-primary" ng-hide="testState == 2 || testState == 3" ng-click="nextState()" ng-disabled="isPlayingSound" translate="label.next"></button>